:root {
  --bg-color: rgba( 255, 255, 255, 1 );
  --button-bg-color:       rgba( 223, 223, 223, 1 );
  --button-bg-color-hover: rgba( 191, 191, 191, 1 );
  --button-border-radius:  4px;
  --button-padding-small:  0.5rem 1.0rem 0.5rem 1.0rem;
  --button-transition-bg:  background-color 100ms  ease-out 0ms;
  --grid-gap: 1.0rem 1.0rem;
  --radio-padding: 1.0rem 0.5rem 1.0rem 0.5rem;
  --font-color: rgba( 63, 63, 63, 1 );
  --footer-color:    rgba( 247, 247, 247, 1);
  --footer-bg-color: rgba( 63, 63, 63, 1 );
  --textarea-height:  8.0rem;
  --textarea-margin:  1.0rem;
  --textarea-padding: 0.5rem;
  --textarea-width:   calc( 100% - 2.0rem );
  --tile-bg-color:      rgba( 247, 247, 247, 1);
  --tile-margin:        1.0rem;
  --tile-parts-padding: 1.0rem;
  --shadow-param: 0 0 2px rgba( 175, 175, 175, 1 );
}

/**
 * _body.scss
 */
body {
  background: var(--bg-color);
  color: var(--font-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 0;
  overflow-wrap: break-word;
  overflow-x: hidden;
  padding: 0;
}

body a {
  text-decoration: none;
}

/**
 * _footer.scss
 */
footer {
  background: var(--footer-bg-color);
  box-sizing: border-box;
  box-shadow: var(--shadow-param);
  color: var(--footer-color);
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 1.0rem;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  footer {
    background: var(--bg-color);
    box-shadow: none;
    color: var(--font-color);
    margin: 0 0 0 30%;
    width: 60%;
  }
}

footer > div.item {
  font-size: small;
}

/**
 * _header.scss
 */
header {
  background: var(--tile-bg-color);
  box-sizing: border-box;
  box-shadow: var(--shadow-param);
  display: flex;
  flex-flow: row wrap;
  height: 4.0rem;
  overflow-y: visible;
  position: fixed;
  transition: height 200ms ease-out 0ms;
  width: 100vw;
  /** end: section.primary {} */
}

@media screen and (min-aspect-ratio: 4 / 3) {
  header {
    flex-flow: column;
    height: 100vh;
    overflow-y: scroll;
    padding: 0 0 0 10vw;
    position: fixed;
    transition: none;
    width: 30vw;
  }
}

header > section.primary {
  box-sizing: border-box;
  box-shadow: var(--shadow-param);
  display: flex;
  flex-flow: row nowrap;
  height: 4.0rem;
  justify-content: space-between;
  width: 100%;
  /** end: .operation-button-left {} */
}

@media screen and (min-aspect-ratio: 4 / 3) {
  header > section.primary {
    padding: 1.0rem;
    box-shadow: none;
  }
}

header > section.primary > span.website-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin: auto;
}

header > section.primary > .operation-button-left {
  align-items: center;
  box-shadow: var(--shadow-param);
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 25vw;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  header > section.primary > .operation-button-left {
    display: none;
  }
}

header > section.primary > .operation-button-left > img {
  height: 3.0rem;
  transition: var(--button-transition-bg);
  width: 3.0rem;
}

header > section.primary > .operation-button-left > img:hover {
  background: var(--button-bg-color-hover);
}

header > section.primary > .operation-button-left > span {
  font-weight: bold;
}

header > section.primary > .operation-button-right {
  align-items: center;
  box-shadow: var(--shadow-param);
  display: flex;
  flex-flow: column;
  justify-content: center;
  transition: var(--button-transition-bg);
  width: 25vw;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  header > section.primary > .operation-button-right {
    display: none;
  }
}

header > section.primary > .operation-button-right > img {
  height: 3.0rem;
  transition: var(--button-transition-bg);
  width: 3.0rem;
}

header > section.primary > .operation-button-right > img:hover {
  background: var(--button-bg-color-hover);
}

header > section.primary > .operation-button-right > span {
  font-weight: bold;
}

/**
 * _main.scss
 */
main {
  box-sizing: border-box;
  padding: 4.0rem 5.0vw 4.0rem 5.0vw;
  width: 100vw;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  main {
    margin: 0 0 0 30vw;
    padding: 0 1.0rem 0 1.0rem;
    width: 60vw;
  }
}

main h1 {
  font-size: 2.0rem;
  text-align: center;
}

main h3 {
  font-size: 1.3rem;
  margin: 0.5rem 0 0 0;
  padding: 0 0 0 1.0rem;
}

main h4 {
  font-size: 1.2rem;
  padding: 0 0 0 1.0rem;
}

main h5 {
  font-size: 1.1rem;
  padding: 0 0 0 1.0rem;
}

main h6 {
  font-size: 1.0rem;
  padding: 0 0 0 1.0rem;
}

main div.process-selector {
  display: flex;
  justify-content: center;
}

main div.process-selector label {
  background: var(--button-bg-color);
  border-radius: var(--button-border-radius);
  box-shadow: var(--shadow-param);
  flex: 0 0 20%;
  font-size: large;
  font-weight: bold;
  margin: 0.5rem;
  padding: var(--button-padding-small);
  text-align: center;
  transition: var(--button-transition-bg);
}

main div.process-selector label:hover {
  background: var(--button-bg-color-hover);
}

main div.process-selector label input {
  display: none;
}

main div.process-selector label input:checked + div {
  border-bottom: #7f7f7f solid medium;
}

main div.process-selector label div {
  border-top: rgba(127, 127, 127, 0) solid medium;
  padding: 0.5rem;
}

main section.result-area {
  background: var(--tile-bg-color);
  box-shadow: 0 0 4px #007f00;
  flex: 1 1 100%;
  margin: var(--tile-margin);
  height: 0;
  /** change to 14.0rem by JavaScript. */
  overflow-y: hidden;
  transition: height 200ms ease-out 0ms;
}

main section.result-area > h2 {
  margin: 0;
  padding: var(--tile-parts-padding);
}

main section.result-area > textarea {
  box-sizing: border-box;
  height: var(--textarea-height);
  margin: var(--textarea-margin);
  padding: var(--textarea-padding);
  width: var(--textarea-width);
}

main button.post {
  background: var(--button-bg-color);
  border: none;
  border-radius: var(--button-border-radius);
  box-shadow: var(--shadow-param);
  display: block;
  font-size: medium;
  margin: 0.5rem auto 0.5rem auto;
  padding: var(--button-padding-small);
  transition: var(--button-transition-bg);
}

main button.post:hover {
  background: var(--button-bg-color-hover);
}

/**
 * _nav.menu.scss
 */
nav.menu {
  background: var(--tile-bg-color);
  box-shadow: var(--shadow-param);
  margin: 0.5rem auto 0 2.0rem;
  height: 0px;
  overflow-y: scroll;
  transition: height 200ms ease-out 0ms;
  width: 60%;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  nav.menu {
    box-shadow: none;
    height: 100%;
    margin: 0;
    overflow-y: visible;
    transition: none;
    width: auto;
  }
}

nav.menu > div.categories {
  display: flex;
  flex-flow: column;
  padding: 0 1.0rem 0 1.0rem;
  /** end: ul {} */
}

nav.menu > div.categories > ul {
  box-sizing: border-box;
  flex: 0 1 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.menu > div.categories > ul > a.item {
  background: var(--button-bg-color);
  box-shadow: var(--shadow-param);
  display: flex;
  margin: 0.5rem 0 0.5rem 0;
  padding: 1.0rem 0.5rem 1.0rem 0.5rem;
  transition: var(--button-transition-bg);
}

nav.menu > div.categories > ul > a.item:hover {
  background: var(--button-bg-color-hover);
}

nav.menu > div.categories > ul > a.item > img {
  height: 1.5rem;
  width: 1.5rem;
}

nav.menu > div.categories > ul > a.item > li {
  font-size: 1.2rem;
  padding: 0 0 0 0.5rem;
}

nav.menu > p {
  text-align: center;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  nav.menu > p {
    display: none;
  }
}

/**
 * _form.hash-generation.scss
 */
form.hash-generation {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  justify-content: center;
  /** end: section.tile {} */
}

form.hash-generation > section.tile {
  background: var(--tile-bg-color);
  box-shadow: var(--shadow-param);
  flex: 1 1 100%;
  margin: var(--tile-margin);
  /** end: div.algorithm-list {} */
}

form.hash-generation > section.tile > div.algorithm-list {
  display: grid;
  gap: var(--grid-gap);
  grid: auto-flow auto/repeat(auto-fill, minmax(30%, auto));
  padding: var(--tile-parts-padding);
}

form.hash-generation > section.tile > div.algorithm-list > label {
  align-items: center;
  background: var(--button-bg-color);
  border-radius: var(--button-border-radius);
  box-shadow: var(--shadow-param);
  display: flex;
  font-weight: bold;
  padding: var(--radio-padding);
  transition: var(--button-transition-bg);
}

form.hash-generation > section.tile > div.algorithm-list > label:hover {
  background: var(--button-bg-color-hover);
}

form.hash-generation > section.tile > div.algorithm-list > label > input {
  margin: 0 0.5rem 0 0.5rem;
}

form.hash-generation > section.tile > h2 {
  margin: 0;
  padding: var(--tile-parts-padding);
}

form.hash-generation > section.tile > textarea {
  box-sizing: border-box;
  height: var(--textarea-height);
  margin: var(--textarea-margin);
  padding: var(--textarea-padding);
  width: var(--textarea-width);
}

form.hash-generation p {
  text-align: center;
}

/**
 * _form.base64-codec.scss
 */
form.base64-codec {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  justify-content: center;
  /** end: section.tile {} */
}

form.base64-codec > section.tile {
  background: var(--tile-bg-color);
  box-shadow: var(--shadow-param);
  flex: 1 1 100%;
  margin: var(--tile-margin);
  /** end: div.coding-process {} */
}

form.base64-codec > section.tile > div.coding-process {
  display: grid;
  gap: var(--grid-gap);
  grid: auto-flow auto/repeat(auto-fill, minmax(45%, auto));
  padding: var(--tile-parts-padding);
}

form.base64-codec > section.tile > div.coding-process > label {
  align-items: center;
  background: var(--button-bg-color);
  border-radius: var(--button-border-radius);
  box-shadow: var(--shadow-param);
  display: flex;
  font-weight: bold;
  padding: var(--radio-padding);
  transition: var(--button-transition-bg);
}

form.base64-codec > section.tile > div.coding-process > label:hover {
  background: var(--button-bg-color-hover);
}

form.base64-codec > section.tile > div.coding-process > label > input {
  margin: 0 0.5rem 0 0.5rem;
}

form.base64-codec > section.tile > h2 {
  margin: 0;
  padding: var(--tile-parts-padding);
}

form.base64-codec > section.tile > textarea {
  box-sizing: border-box;
  height: var(--textarea-height);
  margin: var(--textarea-margin);
  padding: var(--textarea-padding);
  width: var(--textarea-width);
}

form.base64-codec p {
  text-align: center;
}

/**
 * _form.base64-codec.scss
 */
form.uuencode-codec {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  justify-content: center;
  /** end: section.tile {} */
}

form.uuencode-codec > section.tile {
  background: var(--tile-bg-color);
  box-shadow: var(--shadow-param);
  flex: 1 1 100%;
  margin: var(--tile-margin);
  /** end: div.coding-process {} */
}

form.uuencode-codec > section.tile > div.coding-process {
  display: grid;
  gap: var(--grid-gap);
  grid: auto-flow auto/repeat(auto-fill, minmax(45%, auto));
  padding: var(--tile-parts-padding);
}

form.uuencode-codec > section.tile > div.coding-process > label {
  align-items: center;
  background: var(--button-bg-color);
  border-radius: var(--button-border-radius);
  box-shadow: var(--shadow-param);
  display: flex;
  font-weight: bold;
  padding: var(--radio-padding);
  transition: var(--button-transition-bg);
}

form.uuencode-codec > section.tile > div.coding-process > label:hover {
  background: var(--button-bg-color-hover);
}

form.uuencode-codec > section.tile > div.coding-process > label > input {
  margin: 0 0.5rem 0 0.5rem;
}

form.uuencode-codec > section.tile > h2 {
  margin: 0;
  padding: var(--tile-parts-padding);
}

form.uuencode-codec > section.tile > textarea {
  box-sizing: border-box;
  height: var(--textarea-height);
  margin: var(--textarea-margin);
  padding: var(--textarea-padding);
  width: var(--textarea-width);
}

form.uuencode-codec p {
  text-align: center;
}
