/**
 * _body.scss
 */
body {
  background: white;
  color: #1f1f1f;
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 0;
  overflow-wrap: break-word;
  overflow-x: hidden;
  padding: 0;
}

body a {
  text-decoration: none;
}

/**
 * _footer.scss
 */
footer {
  background: #3f3f3f;
  box-sizing: border-box;
  box-shadow: 0 0 2px #3f3f3f;
  color: white;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 1.0rem;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  footer {
    background: white;
    box-shadow: none;
    color: #1f1f1f;
    margin: 0 0 0 30%;
    width: 60%;
  }
}

footer > div.item {
  font-size: small;
}

/**
 * _header.scss
 */
header {
  background: #efefef;
  box-shadow: 0 0 2px #3f3f3f;
  display: flex;
  flex-flow: row wrap;
  height: 4.0rem;
  overflow-y: visible;
  position: fixed;
  transition: height 200ms ease-out 0ms;
  width: 100%;
  /** end: section.primary {} */
}

@media screen and (min-aspect-ratio: 4 / 3) {
  header {
    flex-flow: column;
    height: 100vh;
    overflow-y: scroll;
    padding: 0 0 0 10%;
    position: fixed;
    width: 20%;
  }
}

header > section.primary {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  height: 4.0rem;
  justify-content: space-between;
  width: 100%;
  /** end: .operation-button-left {} */
}

header > section.primary > .website-title {
  color: #3f3f3f;
  font-size: 1.6rem;
  font-weight: bold;
  margin: auto;
}

header > section.primary > .operation-button-left {
  align-items: center;
  border-right: #7f7f7f solid thin;
  box-sizing: border-box;
  color: #3f3f3f;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 25%;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  header > section.primary > .operation-button-left {
    display: none;
  }
}

header > section.primary > .operation-button-left > img {
  height: 3.0rem;
  width: 3.0rem;
}

header > section.primary > .operation-button-left > img:hover {
  background: #cfcfcf;
}

header > section.primary > .operation-button-left > span {
  font-weight: bold;
}

header > section.primary > .operation-button-right {
  align-items: center;
  border-left: #7f7f7f solid thin;
  box-sizing: border-box;
  color: #3f3f3f;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 25%;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  header > section.primary > .operation-button-right {
    display: none;
  }
}

/**
 * _main.scss
 */
main {
  box-sizing: border-box;
  padding: 4.0rem 2.0rem 4.0rem 2.0rem;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  main {
    margin: 0 0 0 30%;
    padding: 0 1.0rem 0 1.0rem;
    width: 60%;
  }
}

main h1 {
  font-size: 2.0rem;
  text-align: center;
}

main h2 {
  border-bottom: #cfcfcf solid thin;
  font-size: 1.6rem;
  margin: 1.0rem 0 0.5rem 0.5rem;
  padding: 0 0 0.2rem 0rem;
}

main h3 {
  font-size: 1.3rem;
  margin: 0.5rem 0 0 0;
  padding: 0 0 0 1.0rem;
}

main h4 {
  font-size: 1.2rem;
  padding: 0 0 0 1.0rem;
}

main h5 {
  font-size: 1.1rem;
  padding: 0 0 0 1.0rem;
}

main h6 {
  font-size: 1.0rem;
  padding: 0 0 0 1.0rem;
}

main pre {
  background: midnightblue;
  border-left: royalblue solid thick;
  box-sizing: border-box;
  color: #efefef;
  padding: 0.5rem;
}

main div.process-selector {
  display: flex;
  justify-content: center;
}

main div.process-selector button {
  background: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 2px #7f7f7f;
  box-sizing: border-box;
  flex: 0 0 20%;
  font-size: large;
  margin: 0.5rem;
  padding: 1.0rem;
  transition: background 200ms ease-out 0ms;
}

main div.process-selector button:hover {
  background: #dfdfdf;
}

main section.result-area {
  border: #007f00 solid medium;
  box-shadow: 0 0 2px #3f3f3f;
  box-sizing: border-box;
  flex: 1 1 100%;
  height: 0;
  /** change to 14.0rem by JavaScript. */
  margin: 1.0rem 0.5rem 1.0rem 0.5rem;
  padding: 0.5rem;
  overflow-y: hidden;
  transition: height 200ms ease-out 200ms;
}

main section.result-area > textarea {
  border: none;
  box-sizing: border-box;
  height: 8.0rem;
  width: 100%;
}

main button.post {
  background: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 2px #7f7f7f;
  box-sizing: border-box;
  display: block;
  font-size: medium;
  margin: 0.5rem auto 0.5rem auto;
  padding: 1.0rem;
  transition: background 200ms ease-out 0ms;
}

main button.post:hover {
  background: #dfdfdf;
}

/**
 * _nav.menu.scss
 */
nav.menu {
  background: #efefef;
  box-shadow: 0 0 2px #3f3f3f;
  margin: 0.5rem 0 0 2.0rem;
  max-height: 0;
  overflow-y: scroll;
  transition: max-height 200ms ease-out 0ms;
  width: 80%;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  nav.menu {
    max-height: 100%;
    overflow-y: auto;
    width: auto;
    margin: 0;
    box-shadow: none;
  }
}

nav.menu > div.grid {
  display: grid;
  gap: 0 2.0rem;
  grid: auto-flow auto/repeat(auto-fill, minmax(320px, auto));
  padding: 0 1.0rem 0 1.0rem;
  /** end: ul {} */
}

nav.menu > div.grid > ul {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.menu > div.grid > ul > a.item {
  background: white;
  box-shadow: 0 0 2px #3f3f3f;
  color: #1f1f1f;
  display: flex;
  margin: 0.5rem 0 0.5rem 0;
  padding: 1.0rem 0.5rem 1.0rem 0.5rem;
}

nav.menu > div.grid > ul > a.item:hover {
  background: #dfdfdf;
}

nav.menu > div.grid > ul > a.item > img {
  height: 1.5rem;
  width: 1.5rem;
}

nav.menu > div.grid > ul > a.item > li {
  font-size: 1.2rem;
  padding: 0 0 0 0.5rem;
}

nav.menu > p {
  text-align: center;
}

/**
 * _form.hash-generation.scss
 */
form.hash-generation {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  justify-content: center;
  /** end: section.tile {} */
}

form.hash-generation > section.tile {
  box-shadow: 0 0 2px 0px #3f3f3f;
  box-sizing: border-box;
  flex: 1 1 100%;
  margin: 1.0rem 0.5rem 1.0rem 0.5rem;
  padding: 0.5rem;
  /** end: div.algorithm-list {} */
}

form.hash-generation > section.tile > div.algorithm-list {
  box-sizing: border-box;
  display: grid;
  grid: auto-flow auto/repeat(auto-fill, minmax(240px, auto));
}

form.hash-generation > section.tile > div.algorithm-list > label {
  align-items: center;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 2px #7f7f7f;
  box-sizing: border-box;
  display: flex;
  height: 3.0rem;
  margin: 0.5rem;
  transition: background 100ms ease-out 0ms;
}

form.hash-generation > section.tile > div.algorithm-list > label:hover {
  background: #dfdfdf;
}

form.hash-generation > section.tile > div.algorithm-list > label > input {
  margin: 0 0.5rem 0 0.5rem;
}

form.hash-generation > section.tile > div.algorithm-list > label > span {
  font-weight: bold;
}

form.hash-generation > section.tile > textarea {
  border: none;
  box-sizing: border-box;
  height: 8.0rem;
  width: 100%;
}

form.hash-generation hr {
  border: #7f7f7f dotted thin;
  width: 90%;
}

form.hash-generation p {
  text-align: center;
}

/**
 * _form.base64-codec.scss
 */
form.base64-codec {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  justify-content: center;
  /** end: section.tile {} */
}

form.base64-codec > section.tile {
  box-shadow: 0 0 2px #3f3f3f;
  box-sizing: border-box;
  flex: 1 1 100%;
  margin: 1.0rem 0.5rem 1.0rem 0.5rem;
  padding: 0.5rem;
  /** end: div.coding-process {} */
}

form.base64-codec > section.tile > div.coding-process {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

form.base64-codec > section.tile > div.coding-process > label {
  align-items: center;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 2px #7f7f7f;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 calc(50% - 1.0rem);
  height: 3.0rem;
  margin: 0.5rem;
  transition: background 200ms ease-out 0ms;
}

form.base64-codec > section.tile > div.coding-process > label:hover {
  background: #dfdfdf;
}

form.base64-codec > section.tile > div.coding-process > label > input {
  margin: 0 0.5rem 0 0.5rem;
}

form.base64-codec > section.tile > div.coding-process > label > span {
  font-weight: bold;
}

form.base64-codec > section.tile > textarea {
  border: none;
  box-sizing: border-box;
  height: 8.0rem;
  width: 100%;
}

form.base64-codec hr {
  border: #7f7f7f dotted thin;
  width: 90%;
}

form.base64-codec p {
  text-align: center;
}

/**
 * _form.base64-codec.scss
 */
form.uuencode-codec {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  justify-content: center;
  /** end: section.tile {} */
}

form.uuencode-codec > section.tile {
  box-shadow: 0 0 2px #3f3f3f;
  box-sizing: border-box;
  flex: 1 1 100%;
  margin: 1.0rem 0.5rem 1.0rem 0.5rem;
  padding: 0.5rem;
  /** end: div.coding-process {} */
}

form.uuencode-codec > section.tile > div.coding-process {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

form.uuencode-codec > section.tile > div.coding-process > label {
  align-items: center;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 2px #7f7f7f;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 calc(50% - 1.0rem);
  height: 3.0rem;
  margin: 0.5rem;
  transition: background 100ms ease-out 0ms;
}

form.uuencode-codec > section.tile > div.coding-process > label:hover {
  background: #dfdfdf;
}

form.uuencode-codec > section.tile > div.coding-process > label > input {
  margin: 0 0.5rem 0 0.5rem;
}

form.uuencode-codec > section.tile > div.coding-process > label > span {
  font-weight: bold;
}

form.uuencode-codec > section.tile > textarea {
  border: none;
  box-sizing: border-box;
  height: 8.0rem;
  width: 100%;
}

form.uuencode-codec hr {
  border: #7f7f7f dotted thin;
  width: 90%;
}

form.uuencode-codec p {
  text-align: center;
}
