/**
 * _body.scss
 */
body {
  background: white;
  color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100vh;
  margin: 0;
  overflow-wrap: break-word;
  overflow-x: hidden;
  padding: 0;
}

body a {
  text-decoration: none;
}

/**
 * _footer.scss
 */
footer {
  background: #3f3f3f;
  -webkit-box-shadow: 0 0 2px #5f5f5f;
          box-shadow: 0 0 2px #5f5f5f;
  color: white;
  padding: 1.0rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

footer > section.timestamp {
  font-size: small;
  text-align: center;
}

footer > section.copyright {
  font-size: small;
  text-align: center;
}

/**
 * _header.scss
 */
header {
  background: whitesmoke;
  -webkit-box-shadow: 0 0 2px #5f5f5f;
          box-shadow: 0 0 2px #5f5f5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 5.0rem;
  position: fixed;
  width: 100%;
}

header > section.primary {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 5.0rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

header > section.primary > .website-title {
  color: #3f3f3f;
  font-size: 1.6rem;
  font-weight: bold;
  margin: auto;
}

header > section.primary > .operation-button-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: #84919e solid thin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #3f3f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 5.0rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
}

header > section.primary > .operation-button-left > img {
  height: 3.0rem;
  width: 3.0rem;
}

header > section.primary > .operation-button-left > img:hover {
  background: #cfcfcf;
}

header > section.primary > .operation-button-left > span {
  font-weight: bold;
}

header > section.primary > .operation-button-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: #84919e solid thin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #3f3f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 5.0rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
}

/**
 * _main.scss
 */
main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5.0rem 4% 5.0rem 4%;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  main {
    margin: 0 auto 0 auto;
    padding: 5.0rem 0 5.0rem 0;
    width: 60%;
  }
}

main h1 {
  font-size: 2.0rem;
  text-align: center;
}

main h2 {
  border-bottom: #cfcfcf solid thin;
  font-size: 1.6rem;
  margin: 1.0rem 0 0.5rem 0.5rem;
  padding: 0 0 0.2rem 0rem;
}

main h3 {
  font-size: 1.3rem;
  margin: 0.5rem 0 0 0;
  padding: 0 0 0 1.0rem;
}

main h4 {
  font-size: 1.2rem;
  padding: 0 0 0 1.0rem;
}

main h5 {
  font-size: 1.1rem;
  padding: 0 0 0 1.0rem;
}

main h6 {
  font-size: 1.0rem;
  padding: 0 0 0 1.0rem;
}

main pre {
  background: midnightblue;
  border-left: royalblue solid thick;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: whitesmoke;
  padding: 0.5rem;
}

/**
 * _nav.menu.scss
 */
nav.menu {
  background: whitesmoke;
  border-right: #5f5f5f solid thin;
  -webkit-box-shadow: 0 0 2px #5f5f5f;
          box-shadow: 0 0 2px #5f5f5f;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  max-height: 0;
  overflow-y: scroll;
  padding: 0 0.5rem 0 0.5rem;
  -webkit-transition: max-height 400ms 0s;
  transition: max-height 400ms 0s;
  width: 40%;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  nav.menu {
    width: 30%;
  }
}

nav.menu > ul {
  list-style-type: none;
  padding: 0;
}

nav.menu > ul > .item {
  background: white;
  -webkit-box-shadow: 0 0 2px #2f2f2f;
          box-shadow: 0 0 2px #2f2f2f;
  color: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.0rem 0.5rem 1.0rem 0.5rem;
}

nav.menu > ul > .item:hover {
  background: #efefef;
}

nav.menu > ul > .item > img {
  height: 1.5rem;
  width: 1.5rem;
}

nav.menu > ul > .item > li {
  font-size: 1.2rem;
  padding: 0 0 0 0.5rem;
}

nav.menu > ul > .menu-head {
  display: block;
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 1.0rem;
}

/**
 * _section.string-conversion.scss
 */
section.string-conversion {
  margin: 0;
  padding: 0;
}

section.string-conversion button.submit {
  background: white;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 2px #5f5f5f;
          box-shadow: 0 0 2px #5f5f5f;
  display: block;
  margin: 1.0rem auto 1.0rem auto;
  padding: 1.0rem 2.0rem 1.0rem 2.0rem;
}

section.string-conversion button.submit:hover {
  background: #efefef;
}

section.string-conversion div.method-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.string-conversion div.method-selector button.method-name {
  background: white;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 2px #5f5f5f;
          box-shadow: 0 0 2px #5f5f5f;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(25% - 1.0rem);
          flex: 0 1 calc(25% - 1.0rem);
  margin: 0.5rem;
  padding: 0.5rem;
}

section.string-conversion div.method-selector button.method-name:hover {
  background: #efefef;
}

section.string-conversion img.arrow-icon {
  display: block;
  height: 3.0rem;
  margin: 0 auto 0 auto;
  width: 3.0rem;
}

section.string-conversion section.result-area {
  -webkit-box-shadow: 0 0 2px #5f5f5f;
          box-shadow: 0 0 2px #5f5f5f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1.0rem 0.5rem 1.0rem 0.5rem;
  padding: 0.5rem;
}

section.string-conversion textarea {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 8.0rem;
  width: 100%;
}

/**
 * _form.base64-codec.scss
 */
form.base64-codec {
  overflow-y: hidden;
}

form.base64-codec > section.tile {
  -webkit-box-shadow: 0 0 2px #5f5f5f;
          box-shadow: 0 0 2px #5f5f5f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1.0rem 0.5rem 1.0rem 0.5rem;
  padding: 0.5rem;
}

form.base64-codec > section.tile > div.coding-process {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

form.base64-codec > section.tile > div.coding-process > label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 2px #5f5f5f;
          box-shadow: 0 0 2px #5f5f5f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 1.0rem);
          flex: 1 1 calc(50% - 1.0rem);
  margin: 0.5rem;
  padding: 1.0rem 0 1.0rem 0;
}

form.base64-codec > section.tile > div.coding-process > label:hover {
  background: #efefef;
}

form.base64-codec > section.tile > div.coding-process > label > input {
  margin: 0 0.5rem 0 0.5rem;
}

form.base64-codec > section.tile > div.coding-process > label > span {
  font-weight: bold;
}

/**
 * _form.hash-generation.scss
 */
form.hash-generation {
  overflow: hidden;
}

form.hash-generation > section.tile {
  -webkit-box-shadow: 0 0 2px #5f5f5f;
          box-shadow: 0 0 2px #5f5f5f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1.0rem 0.5rem 1.0rem 0.5rem;
  padding: 0.5rem;
}

form.hash-generation > section.tile > div.algorithm-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

form.hash-generation > section.tile > div.algorithm-list > label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 2px #5f5f5f;
          box-shadow: 0 0 2px #5f5f5f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33% - 1.0rem);
          flex: 1 1 calc(33% - 1.0rem);
  height: 3.0rem;
  margin: 0.5rem;
}

form.hash-generation > section.tile > div.algorithm-list > label:hover {
  background: #efefef;
}

form.hash-generation > section.tile > div.algorithm-list > label > input {
  margin: 0 0.5rem 0 0.5rem;
}

form.hash-generation > section.tile > div.algorithm-list > label > span {
  font-weight: bold;
}

/**
 * _form.base64-codec.scss
 */
form.uuencode-codec {
  overflow-y: hidden;
}

form.uuencode-codec > section.tile {
  -webkit-box-shadow: 0 0 2px #5f5f5f;
          box-shadow: 0 0 2px #5f5f5f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1.0rem 0.5rem 1.0rem 0.5rem;
  padding: 0.5rem;
}

form.uuencode-codec > section.tile > div.coding-process {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

form.uuencode-codec > section.tile > div.coding-process > label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 2px #5f5f5f;
          box-shadow: 0 0 2px #5f5f5f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 1.0rem);
          flex: 1 1 calc(50% - 1.0rem);
  margin: 0.5rem;
  padding: 1.0rem 0 1.0rem 0;
}

form.uuencode-codec > section.tile > div.coding-process > label:hover {
  background: #efefef;
}

form.uuencode-codec > section.tile > div.coding-process > label > input {
  margin: 0 0.5rem 0 0.5rem;
}

form.uuencode-codec > section.tile > div.coding-process > label > span {
  font-weight: bold;
}
