@charset "UTF-8";

/**
 * _body.scss
 */
body {
	background:    white;
  color:         #2f2f2f;
  display:       flex;
  flex-flow:     column;
  height:        100vh;
  margin:        0;
  overflow-wrap: break-word;
  overflow-x:    hidden;
  padding:       0;

	a {
		text-decoration: none;
	}
}