@charset "UTF-8";

/**
 * _footer.scss
 */
footer {
  background: rgb(63, 63, 63);
  box-shadow: 0 0 2px rgb(132, 145, 158);
  color:      rgb(255, 255, 255);
  padding:    1.0rem;
  flex:       1 1 auto;

  > section.timestamp {
    font-size:  small;
    text-align: center;
  }

  > section.copyright {
    font-size:  small;
		text-align: center;
  }
}