@charset "UTF-8";

/**
 * _footer.scss
 **/
footer {
  background: #4f4f4f;
  box-shadow: 0 0 2px gray;
  color:      white;
  padding:    1.0rem;
  flex:       1 0 auto;

  > section.timestamp {
    font-size:  small;
    text-align: center;
  }

  > section.copyright {
    font-size:  small;
		text-align: center;
  }
}