@charset "UTF-8";

/**
 * _header.scss
 */
header {
  background: rgb(239, 239, 239);
  box-shadow: 0 0 2px rgb(63, 63, 63);
  display:    flex;
  flex-flow:  row wrap;
  height:     4.0rem;
  overflow-y: visible;
  position:   fixed;
  transition: height 200ms ease-out 0ms;
  width:      100%;

  @media screen and ( min-aspect-ratio: 4/3 ) {
    flex-flow:  column;
    height:     100vh;
    overflow-y: scroll;
    padding:    0 0 0 10%;
    position:   fixed;
    transition: none;
    width:      20%;
  }

  > section.primary {
    box-sizing:      border-box;
    display:         flex;
    flex-flow:       row nowrap;
    height:          4.0rem;
    justify-content: space-between;
    width:           100%;

    @media screen and ( min-aspect-ratio: 4/3 ) {
      padding: 1.0rem;
    }

    > span.website-title {
      color:       rgb(63, 63, 63);
      font-size:   1.6rem;
      font-weight: bold;
      margin:      auto;
    }

    > .operation-button-left {
      align-items:     center;
      border-right:    rgb(127, 127, 127) solid thin;
      box-sizing:      border-box;
      color:           rgb(63, 63, 63);
      display:         flex;
      flex-flow:       column;
      justify-content: center;
      width:           25%;

      @media screen and ( min-aspect-ratio: 4/3 ) {
        display: none;
      }

      > img {
        height: 3.0rem;
        width:  3.0rem;

        &:hover {
          background: rgb(207, 207, 207);
        }
      }

      > span {
        font-weight: bold;
      }
    } /** end: .operation-button-left {} */

    > .operation-button-right {
      align-items:     center;
      border-left:     rgb(127, 127, 127) solid thin;
      box-sizing:      border-box;
      color:           rgb(63, 63, 63);
      display:         flex;
      flex-flow:       column;
      justify-content: center;
      width:           25%;

      @media screen and ( min-aspect-ratio: 4/3 ) {
        display: none;
      }

      > img {
        height: 3.0rem;
        width:  3.0rem;
  
        &:hover {
          background: rgb(207, 207, 207);
        }
      }
  
      > span {
        font-weight: bold;
      }
    }
  } /** end: section.primary {} */
}