@charset "UTF-8";

/**
 * _header.scss
 */
header {
  background: var( --tile-bg-color );
  box-sizing: border-box;
  box-shadow: var( --shadow-param );
  display:    flex;
  flex-flow:  row wrap;
  height:     4.0rem;
  overflow-y: visible;
  position:   fixed;
  transition: height 200ms ease-out 0ms;
  width:      100%;

  @media screen and ( min-aspect-ratio: 4/3 ) {
    flex-flow:  column;
    height:     100vh;
    overflow-y: scroll;
    padding:    0 0 0 10vw;
    position:   fixed;
    transition: none;
    width:      30vw;
  }

  > section.primary {
    box-sizing:      border-box;
    box-shadow:      var( --shadow-param );
    display:         flex;
    flex-flow:       row nowrap;
    height:          4.0rem;
    justify-content: space-between;
    width:           100%;

    @media screen and ( min-aspect-ratio: 4/3 ) {
      padding:    1.0rem;
      box-shadow: none;
    }

    > span.website-title {
      font-size:   1.6rem;
      font-weight: bold;
      margin:      auto;
    }

    > .operation-button-left {
      align-items:     center;
      box-shadow:      var( --shadow-param );
      display:         flex;
      flex-flow:       column;
      justify-content: center;
      width:           25vw;

      @media screen and ( min-aspect-ratio: 4/3 ) {
        display: none;
      }

      > img {
        height:     3.0rem;
        transition: var( --button-transition-bg );
        width:      3.0rem;

        &:hover {
          background: var( --button-bg-color-hover );
        }
      }

      > span {
        font-weight: bold;
      }
    } /** end: .operation-button-left {} */

    > .operation-button-right {
      align-items:     center;
      box-shadow:      var( --shadow-param );
      display:         flex;
      flex-flow:       column;
      justify-content: center;
      transition:      var( --button-transition-bg );
      width:           25vw;

      @media screen and ( min-aspect-ratio: 4/3 ) {
        display: none;
      }

      > img {
        height:     3.0rem;
        transition: var( --button-transition-bg );
        width:      3.0rem;
  
        &:hover {
          background: var( --button-bg-color-hover );
        }
      }
  
      > span {
        font-weight: bold;
      }
    }
  } /** end: section.primary {} */
}