@charset "UTF-8";

/**
 * _header.scss
 */
header {
  background: whitesmoke;
  box-shadow: 0 1px 2px gray;
  display:    flex;
  flex-flow:  row wrap;
  height:     5.0rem;
  position:   fixed;
  width:      100%;

  > section {
    box-sizing: border-box;
    display:         flex;
    flex-flow:       row nowrap;
    height:          5.0rem;
    justify-content: space-between;
    width:           100%;

    > .website-title {
      color:       #4f4f4f;
      font-size:   1.6rem;
      font-weight: bold;
      margin:      auto;
    }

    > .operation-button-left {
      align-items:     center;
      border-right:    gray solid thin;
      color:           #4f4f4f;
      display:         flex;
      flex-flow:       column;
      height:          5.0rem;
      justify-content: center;
      width:           30%;

      &:hover {
        background: lightgray;
      }

      > img {
        height: 3.0rem;
        width:  3.0rem;
      }

      > span {
        font-weight: bold;
      }
    } // End: .operation-button-left

    > .operation-button-right {
      align-items:     center;
      border-left:     gray solid thin;
      color:           #4f4f4f;
      display:         flex;
      flex-flow:       column;
      height:          5.0rem;
      justify-content: center;
      width:           30%;
    }
  } // End: section
}