@charset "UTF-8";

/**
 * _main.scss
 */
main {
  box-sizing: border-box;
  padding:    4.0rem 2.0rem 4.0rem 2.0rem;

  @media screen and ( min-aspect-ratio: 4/3 ) {
    margin:  0 0 0 30vw;
    padding: 0 1.0rem 0 1.0rem;
    width:   60vw;
  }

  h1 {
    font-size:  2.0rem;
    text-align: center;
  }

  h3 {
    font-size: 1.3rem;
    margin:    0.5rem 0 0 0;
    padding:   0 0 0 1.0rem;
  }

  h4 {
    font-size: 1.2rem;
    padding:   0 0 0 1.0rem;
  }

  h5 {
    font-size: 1.1rem;
    padding:   0 0 0 1.0rem;
  }

  h6 {
    font-size: 1.0rem;
    padding:   0 0 0 1.0rem;
  }

  div.process-selector {
    display:         flex;
    justify-content: center;
    
    label {
      background:    var( --button-bg-color );
      border-radius: var( --button-border-radius );
      box-shadow:    var( --shadow-param );
      flex:          0 0 20%;
      font-size:     large;
      font-weight:   bold;
      margin:        0.5rem;
      padding:       var( --button-padding-small );
      text-align:    center;
      transition:    var( --button-transition-bg );

      &:hover {
        background: var( --button-bg-color-hover );
      }

      input {
        display: none;

        &:checked + div {
          border-bottom: rgb(127, 127, 127) solid medium;
        }
      }

      div {
        border-top: rgba(127, 127, 127, 0) solid medium;
        padding:     0.5rem;
      }
    }
  }

  section.result-area {
    background: var( --tile-bg-color );
    box-shadow: 0 0 4px rgb(0, 127, 0);
    flex:       1 1 100%;
    margin:     var( --tile-margin );
    height:     0; /** change to 14.0rem by JavaScript. */
    overflow-y: hidden;
    transition: height 200ms ease-out 0ms;

    > h2 {
      margin:  0;
      padding: var( --tile-parts-padding );
    }

    > textarea {
      box-sizing: border-box;
      height:     var( --textarea-height );
      margin:     var( --textarea-margin );
      padding:    var( --textarea-padding );
      width:      var( --textarea-width );
    }
  }

  button.post {
    background:    var( --button-bg-color );
    border:        none;
    border-radius: var( --button-border-radius );
    box-shadow:    var( --shadow-param );
    display:       block;
    font-size:     medium;
    margin:        0.5rem auto 0.5rem auto;
    padding:       var( --button-padding-small );
    transition:    var( --button-transition-bg );
  
    &:hover {
      background: var( --button-bg-color-hover );
    }
  }
}