@charset "UTF-8";

/**
 * _main.scss
 */
main {
  box-sizing: border-box;
  padding:    4.0rem 2.0rem 4.0rem 2.0rem;

  @media screen and (min-aspect-ratio: 4 / 3) {
    margin:  0 0 0 30%;
    padding: 0 1.0rem 0 1.0rem;
    width:   60%;
  }

  h1 {
    font-size:  2.0rem;
    text-align: center;
  }

  h2 {
    border-bottom: rgb(207, 207, 207) solid thin;
    font-size:     1.6rem;
    margin:        1.0rem 0 0.5rem 0.5rem;
    padding:       0 0 0.2rem 0rem;
  }

  h3 {
    font-size: 1.3rem;
    margin:    0.5rem 0 0 0;
    padding:   0 0 0 1.0rem;
  }

  h4 {
    font-size: 1.2rem;
    padding:   0 0 0 1.0rem;
  }

  h5 {
    font-size: 1.1rem;
    padding:   0 0 0 1.0rem;
  }

  h6 {
    font-size: 1.0rem;
    padding:   0 0 0 1.0rem;
  }

  pre {
    background:  midnightblue;
    border-left: royalblue solid thick;
    box-sizing:  border-box;
    color:       rgb(239, 239, 239);
    padding:     0.5rem;
  }

  div.process-selector {
    display:         flex;
    justify-content: center;
    
    button {
      background:    rgb(255, 255, 255);
      border:        none;
      border-radius: 4px;
      box-shadow:    0 0 2px rgb(127, 127, 127);
      box-sizing:    border-box;
      flex:          0 0 20%;
      font-size:     large;
      margin:        0.5rem;
      padding:       1.0rem;
      transition:    background 200ms ease-out 0ms;

      &:hover {
        background: rgb(223, 223, 223);
      }
    }
  }

  section.result-area {
    border:     rgb(0, 127, 0) solid medium;
    box-shadow: 0 0 2px rgb(63, 63, 63);
    box-sizing: border-box;
    flex:       1 1 100%;
    height:     0; /** change to 14.0rem by JavaScript. */
    margin:     1.0rem 0.5rem 1.0rem 0.5rem;
    padding:    0.5rem;
    overflow-y: hidden;
    transition: height 200ms ease-out 200ms;

    > textarea {
      border:     none;
      box-sizing: border-box;
      height:     8.0rem;
      width:      100%;
    }
  }

  button.post {
    background:    rgb(255, 255, 255);
    border:        none;
    border-radius: 4px;
    box-shadow:    0 0 2px rgb(127, 127, 127);
    box-sizing:    border-box;
    display:       block;
    font-size:     medium;
    margin:        0.5rem auto 0.5rem auto;
    padding:       1.0rem;
    transition:    background 200ms ease-out 0ms;
  
    &:hover {
      background: rgb(223, 223, 223);
    }
  }
}