@charset "UTF-8";

/**
 * _main.scss
 */
main {
  box-sizing: border-box;
  padding:    4.0rem 5% 4.0rem 5%;

  @media screen and (min-aspect-ratio: 4 / 3) {
    margin:  0 auto 0 auto;
    padding: 4.0rem 0 4.0rem 0;
    width:   60%;
  }

  h1 {
    font-size:  2.0rem;
    text-align: center;
  }

  h2 {
    border-bottom: rgb(207, 207, 207) solid thin;
    font-size:     1.6rem;
    margin:        1.0rem 0 0.5rem 0.5rem;
    padding:       0 0 0.2rem 0rem;
  }

  h3 {
    font-size: 1.3rem;
    margin:    0.5rem 0 0 0;
    padding:   0 0 0 1.0rem;
  }

  h4 {
    font-size: 1.2rem;
    padding:   0 0 0 1.0rem;
  }

  h5 {
    font-size: 1.1rem;
    padding:   0 0 0 1.0rem;
  }

  h6 {
    font-size: 1.0rem;
    padding:   0 0 0 1.0rem;
  }

  pre {
    background:  midnightblue;
    border-left: royalblue solid thick;
    box-sizing:  border-box;
    color:       rgb(239, 239, 239);
    padding:     0.5rem;
  }
}