@charset "UTF-8";

/**
 * _nav.menu.scss
 */
nav.menu {
  background:   whitesmoke;
  border-right: gray solid thin;
  box-shadow:   0 2px 2px gray;
  flex-flow:    column wrap;
  max-height:   0;
  overflow-y:   scroll;
  padding:      0 0.5rem 0 0.5rem;
  transition:   400ms;
  width:        calc(30% - 1.0rem);

  @media screen and (min-aspect-ratio: 4 / 3) {
    border-right: none;
    box-shadow:   none;
    max-height:   auto;
    overflow-y:   visible;
    transition:   0ms;
    width:        auto;
  }

  > ul {
    list-style-type: none;
    padding:         0;

    > .item {
      background:      white;
      box-shadow:      0 0 2px #2f2f2f;
      color:           #2f2f2f;
      display:         flex;
      padding:         1.0rem 0.5rem 1.0rem 0.5rem;

      @media screen and (min-aspect-ratio: 4 / 3) {
        background: whitesmoke;
        box-shadow: none;
        padding:    0.5rem;
      }

      &:hover {
        background: lightgray;
      }

      > img {
        height: 1.5rem;
        width:  1.5rem;
      }

      > li {
        font-size: 1.2rem;
        padding:   0 0 0 0.5rem;
      }
    } // End: .item {}

    > .menu-head {
      display: block;
      font-weight: bold;
      padding:     0.5rem 0 0.5rem 1.0rem;
    }
  } // End: ul {}
}
