@charset "UTF-8";

/**
 * _nav.menu.scss
 */
nav.menu {
  background:   whitesmoke;
  border-right: gray solid thin;
  box-shadow:   0 0 2px gray;
  flex-flow:    column wrap;
  max-height:   0;
  overflow-y:   scroll;
  padding:      0 0.5rem 0 0.5rem;
  transition:   400ms;
  width:        40%;

  @media screen and (min-aspect-ratio: 4 / 3) {
    width: 30%;
  }

  > ul {
    list-style-type: none;
    padding:         0;

    > .item {
      background:      white;
      box-shadow:      0 0 2px #2f2f2f;
      color:           #2f2f2f;
      display:         flex;
      padding:         1.0rem 0.5rem 1.0rem 0.5rem;

      &:hover {
        background: lightgray;
      }

      > img {
        height: 1.5rem;
        width:  1.5rem;
      }

      > li {
        font-size: 1.2rem;
        padding:   0 0 0 0.5rem;
      }
    } // End: .item {}

    > .menu-head {
      display: block;
      font-weight: bold;
      padding:     0.5rem 0 0.5rem 1.0rem;
    }
  } // End: ul {}
}
