@charset "UTF-8";

/**
 * _nav.menu.scss
 */
nav.menu {
  background:   var( --tile-bg-color );
  box-shadow:   var( --shadow-param );
  margin:       0.5rem auto 0 2.0rem;
  height:       0px;
  overflow-y:   scroll;
  transition:   height 200ms ease-out 0ms;
  width:        60vw;

  @media screen and ( min-aspect-ratio: 4/3 ) {
    box-shadow: none;
    height:     100%;
    margin:     0;
    overflow-y: visible;
    transition: none;
    width:      auto;
  }

  > div.categories {
    display:   flex;
    flex-flow: column;
    padding:   0 1.0rem 0 1.0rem;

    > ul {
      box-sizing:      border-box;
      flex:            0 1 100%;
      list-style-type: none;
      margin:          0;
      padding:         0;
  
      > a.item {
        background: var( --button-bg-color );
        box-shadow: var( --shadow-param );
        display:    flex;
        margin:     0.5rem 0 0.5rem 0;
        padding:    1.0rem 0.5rem 1.0rem 0.5rem;
        transition: var( --button-transition-bg );
  
        &:hover {
          background: var( --button-bg-color-hover );
        }
  
        > img {
          height: 1.5rem;
          width:  1.5rem;
        }
  
        > li {
          font-size: 1.2rem;
          padding:   0 0 0 0.5rem;
        }
      }
    } /** end: ul {} */
  }

  > p {
    text-align: center;

    @media screen and ( min-aspect-ratio: 4/3 ) {
      display: none;
    }
  }
}
