@charset "UTF-8";

/**
 * _nav.menu.scss
 */
nav.menu {
  background:   rgb(239, 239, 239);
  box-shadow:   0 0 2px rgb(63, 63, 63);
  margin:       0.5rem 0 0 2.0rem;
  max-height:   0;
  overflow-y:   scroll;
  transition:   max-height 200ms ease-out 0ms;
  width:        80%;

  @media screen and (min-aspect-ratio: 4 / 3) {
    max-width: 0.5rem 0 0 4.0rem;
    width:     50%;
  }

  > div.grid {
    display: grid;
    gap:     0 2.0rem;
    grid:    auto-flow auto / repeat( auto-fill, minmax( 320px, auto ) );
    padding: 0 1.0rem 0 1.0rem;

    > ul {
      box-sizing:      border-box;
      list-style-type: none;
      margin:          0;
      padding:         0;
  
      > a.item {
        background: rgb(255, 255, 255);
        box-shadow: 0 0 2px rgb(63, 63, 63);
        color:      rgb(31, 31, 31);
        display:    flex;
        margin:     0.5rem 0 0.5rem 0;
        padding:    1.0rem 0.5rem 1.0rem 0.5rem;
  
        &:hover {
          background: rgb(223, 223, 223);
        }
  
        > img {
          height: 1.5rem;
          width:  1.5rem;
        }
  
        > li {
          font-size: 1.2rem;
          padding:   0 0 0 0.5rem;
        }
      }
    } /** end: ul {} */
  }

  > p {
    text-align: center;
  }
}
