@charset "UTF-8";

/**
 * _section.hash-generation.scss
 */
 section.hash-generation {
   margin:  0;
   padding: 0;

   > form.select-algorithm {
     display:         flex;
     flex-flow:       row wrap;
     justify-content: space-evenly;

     > label.tile {
      align-items: center;
      box-shadow:  0 0 2px gray;
      display:     flex;
      flex:        1 1 30%;
      height:      3.0rem;
      margin:      0.2rem;

      &:hover {
        background: lightgray;
      }

      > input {
        margin: 0 0.5rem 0 0.5rem;
      }

      > span {
        font-weight: bold;
      }
     }
   }

   > input.submit-button {
     background: white;
     border:     none;
     box-shadow: 0 0 2px gray;
     display:    block;
     margin:     1.0rem auto 1.0rem auto;
     padding:    1.0rem;

     &:hover {
       background: lightgray;
     }
   }

   > textarea {
     height: 8.0rem;
     width:  100%;
   }
 }