@charset "UTF-8";

/**
 * _section.string-conversion.scss
 */
section.string-conversion {
  margin:  0;
  padding: 0;

  button.submit {
    background: white;
    border:     none;
    box-shadow: 0 0 2px rgb(132, 145, 158);
    display:    block;
    margin:     1.0rem auto 1.0rem auto;
    padding:    1.0rem 2.0rem 1.0rem 2.0rem;

    &:hover {
      background: rgb(239, 239, 239);
    }
  }

  select {
    width: 5.0rem;
  }

  textarea {
    box-sizing: border-box;
    height:     8.0rem;
    width:      100%;
  }
}