@charset "UTF-8";

/**
 * _section.string-conversion.scss
 */
section.string-conversion {
  margin:  0;
  padding: 0;

  button.submit {
    background:    rgb(255, 255, 255);
    border:        none;
    border-radius: 8px;
    box-shadow:    0 0 2px rgb(95, 95, 95);
    display:       block;
    margin:        1.0rem auto 1.0rem auto;
    padding:       1.0rem 2.0rem 1.0rem 2.0rem;

    &:hover {
      background: rgb(239, 239, 239);
    }
  }

  div.method-selector {
    display:         flex;
    justify-content: center;
    
    button.method-name {
      background:    rgb(255, 255, 255);
      border:        none;
      border-radius: 8px;
      box-shadow:    0 0 2px rgb(95, 95, 95);
      display:       block;
      flex:          0 1 calc(25% - 1.0rem);
      margin:        0.5rem;
      padding:       0.5rem;

      &:hover {
        background: rgb(239, 239, 239);
      }
    }
  }

  img.arrow-icon {
    display: block;
    height:  3.0rem;
    margin:  0 auto 0 auto;
    width:   3.0rem;
  }

  section.result-area {
    box-shadow: 0 0 2px rgb(95, 95, 95);
    box-sizing: border-box;
    margin:     1.0rem 0 1.0rem 0;
    padding:    0.5rem;
  }

  textarea {
    border:     none;
    box-sizing: border-box;
    height:     8.0rem;
    width:      100%;
  }
}