@charset "UTF-8";

/**
 * _section.string-conversion.scss
 */
section.string-conversion {
  margin:  0;
  padding: 0;

  div.method-selector {
    display:         flex;
    justify-content: center;
    
    button.method-name {
      background:    rgb(255, 255, 255);
      border:        none;
      border-radius: 4px;
      box-shadow:    0 0 2px rgb(127, 127, 127);
      box-sizing:    border-box;
      flex:          0 0 20%;
      font-size:     medium;
      margin:        0.5rem;
      padding:       1.0rem;
      transition:    background 0.1s 0s ease-out;

      &:hover {
        background: rgb(239, 239, 239);
      }
    }
  }

  img.arrow-icon {
    display: block;
    height:  3.0rem;
    margin:  0 auto 0 auto;
    width:   3.0rem;
  }

  section.result-area {
    box-shadow: 0 0 2px rgb(63, 63, 63);
    box-sizing: border-box;
    margin:     1.0rem 0.5rem 1.0rem 0.5rem;
    padding:    0.5rem;
  }

  textarea {
    border:     none;
    box-sizing: border-box;
    height:     8.0rem;
    width:      100%;
  }

  button.post {
    background:    rgb(255, 255, 255);
    border:        none;
    border-radius: 4px;
    box-shadow:    0 0 2px rgb(127, 127, 127);
    box-sizing:    border-box;
    display:       block;
    font-size:     medium;
    margin:        0.5rem auto 0.5rem auto;
    padding:       1.0rem;
    transition:    background 0.1s 0s ease-out;
  
    &:hover {
      background:      rgb(239, 239, 239);
    }
  }
}