@charset "UTF-8";

/**
 * _form.hash-generation.scss
 */
form.hash-generation {
  overflow: hidden;

  > section.tile {
    box-shadow: 0 0 2px 0px rgb(63, 63, 63);
    box-sizing: border-box;
    margin:     1.0rem 0.5rem 1.0rem 0.5rem;
    padding:    0.5rem;

    > div.algorithm-list {
      box-sizing:      border-box;
      display:         flex;
      flex-flow:       row wrap;
    
      > label {
        align-items:   center;
        background:    rgb(255, 255, 255);
        border-radius: 4px;
        box-shadow:    0 0 2px rgb(127, 127, 127);
        box-sizing:    border-box;
        display:       flex;
        flex:          0 0 calc(33% - 1.0rem);
        height:        3.0rem;
        margin:        0.5rem;
        transition:    background 100ms ease-out 0ms;
    
        &:hover {
          background: rgb(223, 223, 223);
        }
    
        > input {
          margin: 0 0.5rem 0 0.5rem;
        }
    
        > span {
          font-weight: bold;
        }
      } // End: lable {}
    }
  } // End: section.tile {}

  hr {
    border: rgb(127, 127, 127) dotted thin;
    width: 90%;
  }

  p {
    text-align: center;
  }
}