@charset "UTF-8";

/**
 * _form.base64-codec.scss
 */
form.base64-codec {
  display:    none;

  > div.coding-process {
    box-sizing:      border-box;
    display:         flex;
    flex-flow:       row wrap;
    justify-content: space-evenly;

    > label.tile {
      align-items: center;
      box-shadow:  0 0 2px  rgb(132, 145, 158);
      box-sizing:  border-box;
      display:     flex;
      flex:        1 1 calc(50% - 0.4rem);
      height:      3.0rem;
      margin:      0.2rem;

      &:hover {
        background: rgb(239, 239, 239);
      }

      > input {
        margin: 0 0.5rem 0 0.5rem;
      }

      > span {
        font-weight: bold;
      }
    }
  }
}