@charset "UTF-8";

/**
 * _form.base64-codec.scss
 */
form.base64-codec {
  display: none;

  > section.tile {
    box-shadow: 0 0 2px rgb(95, 95, 95);
    box-sizing: border-box;
    margin:     1.0rem 0 1.0rem 0;
    padding:    0.5rem;

    > div.coding-process {
      box-sizing:      border-box;
      display:         flex;
      flex-flow:       row wrap;
      justify-content: space-evenly;
  
      > label.tile {
        align-items:   center;
        border-radius: 8px;
        box-shadow:    0 0 2px rgb(95, 95, 95);
        box-sizing:    border-box;
        display:       flex;
        flex:          1 1 calc(50% - 1.0rem);
        height:        3.0rem;
        margin:        0.5rem;
  
        &:hover {
          background: rgb(239, 239, 239);
        }
  
        > input {
          margin: 0 0.5rem 0 0.5rem;
        }
  
        > span {
          font-weight: bold;
        }
      }
    }
  }
}