@charset "UTF-8";

/**
 * _form.base64-codec.scss
 */
form.base64-codec {
  overflow-y: hidden;

  > section.tile {
    box-shadow: 0 0 2px rgb(63, 63, 63);
    box-sizing: border-box;
    margin:     1.0rem 0.5rem 1.0rem 0.5rem;
    padding:    0.5rem;

    > div.coding-process {
      box-sizing:      border-box;
      display:         flex;
      flex-flow:       row wrap;
      justify-content: space-evenly;
  
      > label {
        align-items:   center;
        background:    rgb(255, 255, 255);
        border-radius: 4px;
        box-shadow:    0 0 2px rgb(127, 127, 127);
        box-sizing:    border-box;
        display:       flex;
        flex:          0 0 calc(50% - 1.0rem);
        height:        3.0rem;
        margin:        0.5rem;
        transition:    background 0.1s 0s ease-out;
  
        &:hover {
          background: rgb(239, 239, 239);
        }
  
        > input {
          margin: 0 0.5rem 0 0.5rem;
        }
  
        > span {
          font-weight: bold;
        }
      } // End: lable {}
    }
  } // End: section.tile {}
}