@charset "UTF-8";

/**
 * _form.hash-generation.scss
 */
form.hash-generation {
  overflow: hidden;

  > section.tile {
    box-shadow: 0 0 2px rgb(95, 95, 95);
    box-sizing: border-box;
    margin:     1.0rem 0.5rem 1.0rem 0.5rem;
    padding:    0.5rem;

    > div.algorithm-list {
      box-sizing:      border-box;
      display:         flex;
      flex-flow:       row wrap;
      justify-content: space-around;

    
      > label {
        align-items:   center;
        border-radius: 8px;
        box-shadow:    0 0 2px rgb(95, 95, 95);
        box-sizing:    border-box;
        display:       flex;
        flex:          1 1 calc(33% - 1.0rem);
        height:        3.0rem;
        margin:        0.5rem;
    
        &:hover {
          background: rgb(239, 239, 239);
        }
    
        > input {
          margin: 0 0.5rem 0 0.5rem;
        }
    
        > span {
          font-weight: bold;
        }
      } // End: lable {}
    }
  } // End: section.tile {}
}